
a.preview-textarea-button {
	padding-left: 1em;
}

#preview-textarea {
	background: #FFF;
	border: 2px solid #333;
	display: none;
	font-size: 14px;
	min-height: 200px;
	max-width: 50em;
	position: absolute;
	width: 50%;
	z-index: 9999;
}

#preview-textarea-content {
	padding: 20px;
}

#preview-textarea-overlay {
	background: #000;
	display: none;
	left: 0;
	position: absolute;
	top: 0;
	z-index: 9990;
}

#preview-textarea-title {
	background: #353530;
	color: #FFF;
	font-size: 12px;
	padding: 5px;
}

#preview-textarea-title a {
	color: #FFF;
	float: right;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}

#preview-textarea-title a:hover {
	color: #CCCCBB;
}