
a.preview-textarea-button {
	padding-left: 1em;
}

#preview-textarea {
	background: #FFF;
	border: 2px solid #333;
	display: none;
	font-size: 14px;
	min-height: 200px;
	max-width: 50em;
	position: absolute;
	width: 50%;
	z-index: 9999;
}

#preview-textarea-content {
	padding: 20px;
}

#preview-textarea-overlay {
	background: #000;
	display: none;
	left: 0;
	position: absolute;
	top: 0;
	z-index: 9990;
}

#preview-textarea-title {
	background: #353530;
	color: #FFF;
	font-size: 12px;
	padding: 5px;
}

#preview-textarea-title a {
	color: #FFF;
	float: right;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}

#preview-textarea-title a:hover {
	color: #CCCCBB;
}

/* Override Symphony backend styles for the previewed text */

#preview-textarea blockquote {
	margin: 1em 3em;
}

#preview-textarea del {
	text-decoration: line-through;
}

#preview-textarea dd {
	margin-left: 15px;
}

#preview-textarea dt {
	font-weight: bold;
	margin-top: 5px;
}

#preview-textarea ins {
	color: #8B1A1A;
	font-style: italic;
}

#preview-textarea ol {
	list-style: decimal;
}

#preview-textarea ul {
	list-style: disc;
}

#preview-textarea small {
	font-size: x-small;
}

#preview-textarea sub {
	font-size: XX-small;
	vertical-align: sub;
}

#preview-textarea sup {
	font-size: XX-small;
	vertical-align: super;
}